/*!------------------------------ Fuentes -------------------------------*/
/*!--- Font Regular ---*/
@font-face {
    font-family: "ProximaNova";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/ProximaNova.eot?") format("eot"),
    url("../fonts/ProximaNova.woff2") format("woff2"),
    url("../fonts/ProximaNova.woff") format("woff"),
    url("../fonts/ProximaNova.ttf") format("truetype"),
    url("../fonts/ProximaNova.svg#ProximaNova") format("svg");
  }
  

html, body{
    color: #4a4a4a;
    background-color: #f1f1f1 !important;
    
}

h1{
    
        font-family: ProximaNova !important;
    
}

.maintenance{
    display: flex;
	justify-items: center;
	align-items: center;
	height: 100vh;
    width: 100vw;
    
    
}

.maintenance--error{
    margin: 0 auto;
		text-align: center;
		background-color: #ffffff;
		border-radius: 4px;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
		width: 570px;
		min-height: 328px;
		padding: 55px;
}

.maintenance--fafa{
    font-size: 40px;
}

.maintenance--text{
    font-family: ProximaNova;
    font-size: 16px;
}

.maintenance--button{
    text-transform: none;
	font-weight: bold;
	font-family: ProximaNova;
	line-height: 2;
	min-width: 180px;
	height: 50px;
	border-radius: 4px;
    margin-top: 40px;
    padding: 12px !important;
    font-size: 16px !important;
}
